<%- include('_header', { title }) %>

  <section class="py-5 text-center">
    <div class="container">
      <h1 class="display-4">404</h1>
      <p class="lead">The page you are looking for could not be found.</p>
      <a href="/" class="btn btn-primary mt-3">Back to Home</a>
    </div>
  </section>

<%- include('_footer') %>
